#custombg{
	background-color:#b1d8d8;
	background-image: linear-gradient(30deg, #99cccc 12%, transparent 12.5%, transparent 87%, #99cccc 87.5%, #99cccc),
	linear-gradient(150deg, #99cccc 12%, transparent 12.5%, transparent 87%, #99cccc 87.5%, #99cccc),
	linear-gradient(30deg, #99cccc 12%, transparent 12.5%, transparent 87%, #99cccc 87.5%, #99cccc),
	linear-gradient(150deg, #99cccc 12%, transparent 12.5%, transparent 87%, #99cccc 87.5%, #99cccc),
	linear-gradient(60deg, #81b5c0 25%, transparent 25.5%, transparent 75%, #81b5c0 75%, #81b5c0), 
	linear-gradient(60deg, #81b5c0 25%, transparent 25.5%, transparent 75%, #81b5c0 75%, #81b5c0);

	-webkit-background-image: linear-gradient(30deg, #99cccc 12%, transparent 12.5%, transparent 87%, #99cccc 87.5%, #99cccc),
	-webkit-linear-gradient(150deg, #99cccc 12%, transparent 12.5%, transparent 87%, #99cccc 87.5%, #99cccc),
	-webkit-linear-gradient(30deg, #99cccc 12%, transparent 12.5%, transparent 87%, #99cccc 87.5%, #99cccc),
	-webkit-linear-gradient(150deg, #99cccc 12%, transparent 12.5%, transparent 87%, #99cccc 87.5%, #99cccc),
	-webkit-linear-gradient(60deg, #81b5c0 25%, transparent 25.5%, transparent 75%, #81b5c0 75%, #81b5c0), 
	-webkit-linear-gradient(60deg, #81b5c0 25%, transparent 25.5%, transparent 75%, #81b5c0 75%, #81b5c0);

	background-size:80px 140px;
	background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.login-panel {
	opacity: 0;
}

body:hover .login-panel{
  animation-name: up;
  animation-duration: 1s;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
  -webkit-animation-name: up;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 500ms;
  -webkit-animation-fill-mode: forwards;
  z-index:999;
}


@keyframes up {
    from {
    	opacity: 0;
    	transform: translateY(50px);
    }
    to {
    	opacity: 1;
    	transform: translateY(0px);
    }
}