#custombg{
	background-color:#b1d8d8;
	background-image: linear-gradient(30deg, #99cccc 12%, transparent 12.5%, transparent 87%, #99cccc 87.5%, #99cccc),
	linear-gradient(150deg, #99cccc 12%, transparent 12.5%, transparent 87%, #99cccc 87.5%, #99cccc),
	linear-gradient(30deg, #99cccc 12%, transparent 12.5%, transparent 87%, #99cccc 87.5%, #99cccc),
	linear-gradient(150deg, #99cccc 12%, transparent 12.5%, transparent 87%, #99cccc 87.5%, #99cccc),
	linear-gradient(60deg, #81b5c0 25%, transparent 25.5%, transparent 75%, #81b5c0 75%, #81b5c0), 
	linear-gradient(60deg, #81b5c0 25%, transparent 25.5%, transparent 75%, #81b5c0 75%, #81b5c0);
	background-size:80px 140px;
	background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.login-panel {
	transition: all 700ms ease-in-out;
	animation-name: up;
	animation-duration: 7s;
	animation-delay: -7s;
	animation-direction: reverse;
}


@keyframes up {
    from {
    	opacity: 0;
    }
    to {
    	opacity: 1;
    }
}
